build/.vs/
build/bin/
build/lib/Debug/
build/VST3_ChromaSDKPlugin.dir/Debug/
build/vst3sdk/base/base.dir/Debug/
build/vst3sdk/public.sdk/samples/vst-hosting/validator/validator.dir/Debug/
build/vst3sdk/public.sdk/sdk.dir/Debug/
build/vst3sdk/public.sdk/sdk_common.dir/Debug/
build/vst3sdk/public.sdk/sdk_hosting.dir/Debug/
build/vst3sdk/VSTGUI.build/lib/vstgui.dir/Debug/
build/vst3sdk/VSTGUI.build/uidescription/vstgui_uidescription.dir/Debug/
build/vst3sdk/vstgui_support.dir/Debug/
build/x64/
build/vst3sdk/pluginterfaces/pluginterfaces.dir/Debug/
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/3.19.3/CompilerIdCXX/Debug/
build/CMakeFiles/3.19.3/CompilerIdC/Debug/
build/VST3/Debug/VST3_ChromaSDKPlugin.vst3/Contents/x86_64-win/
build/CMakeFiles/3.19.3/x64/Debug/
build/WIN_PDB64/Debug/
